<h1>My album</h1>
<ul>
  <li>
    <a [routerLink]="['home']">Home</a>
  </li>
  <li>
    <a [routerLink]="['about']">About</a>
  </li>
  <li>
    <a [routerLink]="['albums']">Albums</a>
  </li>
</ul>
<router-outlet />
<footer>
  <div class="footer-content">
    <div class="footer-text">
      <p>Created by Malikova Saule</p>
      <p>Thanks for your attention!</p>
    </div>
    <div class="social-links">
      <a href="https://t.me/saule_dst" target="_blank" class="telegram" aria-label="Telegram"></a>
      <a href="https://github.com/Saule06" target="_blank" class="github" aria-label="GitHub"></a>
      <a href="https://www.linkedin.com/in/saule-malikova-27b3a42a1/" target="_blank" class="linkedin" aria-label="LinkedIn"></a>
    </div>
  </div>
</footer>